/* Declare CSS Variables on root */
/* ============================== */

:root {
    --color-pink: hsl(322, 100%, 66%);
    --color-dark-cyan: hsl(192, 100%, 9%);
    --color-gray-blue: hsl(208, 11%, 55%);
    --font-poppins: "Poppins", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    --logo-size-desktop: "auto";
}

/* Declare html standart style */
/* =========================== */

*,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.1px;
    line-height: 1.2em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

*:before,
*:after {
    box-sizing: inherit;
}

.font--poppins {
    font-family: var(--font-poppins);
}

.font--opensans {
    font-family: var(--font-opensans);
}

.color--pink {
    background-color: var(--color-pink);
}

.color--dark-cyan {
    color: var(--color-dark-cyan);
}

.color--gray-blue {
    color: var(--color-gray-blue);
}

/* Header logo */
/* =========== */

header {
    width: 80%;
    margin: 0 auto;
}

header > img {
    width: 50%;
    color: black;
    padding-top: 10px;
}

/* Hero section individual styles */
/* ============================== */

.hero {
    width: 80%;
    margin: 5em auto;
}

.hero > img {
    margin-top: 2em;
    width: 100%;
}

.hero__descr > * {
    text-align: center;
}

.hero__descr h2 {
    text-transform: capitalize;
    font-size: 1.1em;
    margin-top: 2em;
}

.hero__descr h3 {
    font-size: 0.65em;
    font-weight: 400;
    margin-top: 2em;
}

@media screen and (min-width: 651px) {
    .hero__descr h2 {
        font-size: 2em;
        line-height: 1.5em;
    }

    .hero__descr h3 {
        width: 80%;
        font-size: 0.8em;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1024px) {
    .hero__descr h2 {
        font-size: 2.5em;
    }

    .hero__descr h3 {
        font-size: 0.9em;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 1440px) {
    .hero__descr h3 {
        word-spacing: 0.2em;
        font-size: 1.3em;
        line-height: 1.5em;
    }
}

/* Email Newsletter styles */
/* ======================= */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up__wrapper {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8em;
}

@media screen and (min-width: 1024px) {
    .sign-up__wrapper {
        height: 4em;
        flex-wrap: nowrap;
        margin-bottom: 3em;
    }
}

@media all and (min-width: 1440px) {
    .sign-up__wrapper {
        width: 60%;
    }
}

.form__heading {
    margin-top: 2em;
    font-size: 1em;
    text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
    .form__heading {
        font-size: 1.5em;
        margin-bottom: 2em;
    }
}
/* styles for input field */

.sign-up__input {
    flex: 1 0 100%;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    background: #fff;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 2em;
    padding-left: 1em;
}

@media all and (min-width: 1024px) {
    .sign-up__input {
        flex: 2 0 50%;
    }
}

@media all and (min-width: 1440px) {
    .sign-up__input {
        flex: 2 0 50%;
    }
}

/* styles for button in email form */
.sign-up__button {
    flex: 1 0 100%;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-top: 2em;
}

@media all and (min-width: 1024px) {
    .sign-up__button {
        flex: 1 0 20%;
        margin: 2em 0 0 2.5em;
    }
}

/* footer style  */
/* ============== */

.logo--size {
    width: 70%;
}

@media screen and (min-width: 371px) {
    .logo--size {
        width: var(--logo-size-desktop);
    }
}

.logo-social img {
    margin-top: 2em;
}

@media all and (min-width: 1024px) {
    .logo-social {
        flex: 1 0 30%;
    }
}

.fab {
    color: #fff;
}

.links--font-size {
    font-size: 0.7em;
}

.links {
    margin-top: 2em;
}

.disclaimer > p {
    font-size: 0.7em;
    color: #fff;
    text-align: center;
}

@media all and (min-width: 1440px) {
    .disclaimer {
        margin: 2em;
    }

    .disclaimer > p {
        text-align: right;
        padding-right: 1em;
    }
}

footer {
    margin-top: 2em;
    height: 100%;
    background-color: var(--color-dark-cyan);
    background-repeat: no-repeat;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

@media all and (min-width: 1440px) {
    .footer__wrapper {
        flex-direction: row;
        justify-content: flex-end;
    }
}

ul > li {
    margin-bottom: 0.7em;
}

@media all and (min-width: 1440px) {
    .links__list {
        display: flex;
        justify-content: space-around;
        margin: 2em;
        padding-left: 20%;
    }

    .links {
        flex: 2 0 60%;
    }
}

.social-icons {
    width: 30%;
    color: #fff;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .social-icons {
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-top: 2em;
    }

    .fab {
        width: 100%;
        height: 100%;
    }
}
